parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\Tests\Behat\:
        resource: '../tests/Behat/*'

    App\Domains\DeploymentFrequency\Domain\DeploymentRepositoryInterface:
        class: App\Domains\DeploymentFrequency\Infrastructure\Persistence\InMemoryDeploymentRepository

